@import './mixins.scss';

.headerContainer {
    height: 3rem;
    text-align: center;
    color: #fff;
    background: #0577d6;
    border: 2px solid #0577d6;

    .content {
        padding: 0.5rem;
    }
}