@import '~@styles/mixins.scss';

// .container {
//     // display: bl;
//     justify-content: center;
// } 

.imagesContainer {
    display: flex;
    justify-content: center;
    position: relative;
    &>* {
        position: absolute;
    }

    @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
        z-index: $i;
      }
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.dialog {
    font-size: medium;
    max-width: 300px;
    text-align: center;
    margin: 160px auto 0;
}

@include media-small {
    .dialog {
        font-size: large;
        max-width: 500px;
    }
    
}

@include media-medium {
    .dialog {
        font-size: x-large;
        max-width: 700px;
        margin: 150px auto 0;
    }

}

