@import '~@styles/mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 90vh;

    &>* {
        display: flex;
        justify-content: center;
    }

    a {
        text-decoration: none;
    }
}
