.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 90vh;

}

.submitButton {
    display: flex;
    justify-content: center;
}

.audioPlayer {
    width: 100%;
    display: flex;
    justify-content: center;
}